<app-header></app-header>
<div>
  <div *ngIf="(products.length==0)" class="row">
    <div class="col-sm-12 col-md-12 d-flex justify-content-center align-items-center vh-100 w-100 flex-column">
      <img class="img-fluid  h-50"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtZ7aZASiF0Osz0JfL04SuwqvezbjqLs9f2A&usqp=CAU"
        alt="">
      <h2 class="text-danger mt-3">Your Cart is empty</h2>
      <a routerLink="/" class="text-success mt-2">Add Your Cart</a>

    </div>
  </div>
  <div *ngIf="(products.length>0)" class="row ">
    <h2 class="text-center text-danger mt-5 mb-5">Cart Summary</h2>
    <div class="col-sm-12 col-md-9  d-flex justify-content-center align-items-center flex-column">
      <div class="d-flex justify-content-center align-items-center">
        <table class="table table-responsive table-bordered ms-4">
          <thead class="text-center">
            <tr>
              <th scope="col">No</th>
              <th scope="col">Product Name</th>
              <th scope="col">Image</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="text-center">

            <tr *ngFor="let allproduct of products;let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{allproduct.title}}</td>
              <td><img [src]="allproduct.image" width="100rem" height="100rem" class="img-fluid" alt=""></td>
              <td class="">
                <div class="d-flex justify-content-center">
                  <button (click)="decrementItem(allproduct._id)" class="btn fw-bolder">-</button>
                  
                  <input [value]="allproduct.quantity" class="form-control text-center " style="max-width: 4rem;" 
                    readonly type="number">
                  <button (click)="incrementItem(allproduct._id)" class="btn fw-bolder">+</button>
                </div>
              </td>
              <td>${{allproduct.price}}</td>
              <td><button class="btn btn-outline-danger" (click)="removeItem(allproduct._id)"><i
                    class="fa-solid fa-trash text-danger "></i></button></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="mb-5">
        <button (click)="emptyCart()" class="btn btn-outline-danger">Empty Cart</button>
        <button routerLink="/" class="btn btn-outline-success ms-3">Add Cart</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 d-flex   " style="height: 10rem;">
      <div class=" rounded shadow border  p-3 " style="width: 17rem">
        <h4>Grand Total:<span class="text-danger">${{total}}</span></h4>
        <button (click)="checkOut()" routerLink="/checkout" class="btn btn-success mt-3">Check out</button>

      </div>

    </div>

  </div>
</div>


<!-- <div class="container">
  <div class="text-center">
      <div class="row d-flex align-items-center justify-content-center my-5"  *ngIf="products.length!==0">
          <h1 style="color: rgb(238, 78, 5);">Cart Summary</h1>
          <div class="col-lg-8 col-md-12 col-sm-12">
              <div class="table-responsive m-3 shadow rounded">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">#</th>
                              <th scope="col">Product Name</th>
                              <th scope="col">Image</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Price</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody *ngFor="let items of products; let i = index">
                          <tr>
                              <th scope="row">{{i + 1}}</th>
                              <td>{{items.title}}</td>
                              <td>
                                  <img [src]="items.image" alt="..." class="img-fluid" width="100" height="100">
                              </td>
                              <td>
                                  <div class="d-flex">
                                      <button class="btn border me-2" (click)="incrementItem(items._id)">+</button>
                                      <input type="number" [value]="items.quantity" class="form-control text-center w-100" readonly>
                                      <button class="btn border ms-2" (click)="decrementItem(items._id)">-</button>
                                  </div>
                              </td>
                              <td>$ {{items.price}}</td>
                              <td>
                                  <i class="fa-solid fa-trash text-danger fa-1x border border-danger p-2" (click)="removeItem(items._id)"></i>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                      <button class="btn btn-outline-danger" (click)="emptyCart()">Empty Cart</button>
                      <button class="btn btn-outline-primary" routerLink="/">Add to Cart</button>
                     
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="card h-100 shadow-lg d-flex flex-column align-items-center justify-content-center p-4">
                  <div class="w-100 text-center mb-3 d-flex align-items-center justify-content-center">
                      <h4 class="text-primary">Grand Total:</h4>
                      <span class="fs-4" style="color: rgb(238, 78, 5);">$ {{total.toFixed(2)}}</span>
                  </div>
                  <div class="w-100 text-center">
                      <button class="btn btn-success" routerLink="/checkout">Checkout</button>
                  </div>
              </div>
          </div>
      </div>

      <div *ngIf="products.length ==0" class="d-flex align-items-center justify-content-center w-100 flex-column p-md-5">
          <img src="https://cdn.dribbble.com/users/5107895/screenshots/14532312/media/a7e6c2e9333d0989e3a54c95dd8321d7.gif" alt="" width="500" class="rounded-circle">
          <h2 style="color: rgb(238, 78, 5);;">Your Cart is Empty</h2>

      </div>
  </div>
</div> -->